p {
  font-family: Lato;
}

.container {
  background: lightcoral;
}

.body {
  margin: 0px;
  padding: 0px;
}

.sidenav {
  background: lightblue;
}

.btn {
  border: 1px solid black;
  margin: 10px 0px 10px 0px;
}
